@{
    Layout = "Shared/_Layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireTec.ViewModels.Home.LandingPageViewModel>

    <section class="opaque blurb">
        <div class="ui grid">
            <div class="eight wide column center_div" id="about">
                <h2>Who Are We?</h2>
                <p>(lorem ipsum text generated at <a href="http://tlipsum.appspot.com/">tlipsum.appspot.com</a>)</p>
                <p>That's champion bobbar tha what soft southern pansy god's own county big girl's blouse. God's own county nay lad shurrup ee by gum mardy bum. God's own county tha knows nobbut a lad ne'ermind bobbar by 'eck. Cack-handed big girl's blouse tha daft apeth tha what. Tell thi summat for nowt by 'eck how much. Ah'll gi' thi summat to rooer abaht by 'eck. Is that thine sup wi' 'im. Sup wi' 'im. Sup wi' 'im tha daft apeth ah'll gi' thi summat to rooer abaht tha knows aye be reet. Shurrup any rooad gerritetten how much ne'ermind nay lad. That's champion what's that when it's at ooam eeh ey up. Nay lad michael palin eeh. Sup wi' 'im is that thine. By 'eck eeh nah then ey up tintintin appens as maybe.</p>
                <p>Bobbar bobbar ah'll box thi ears how much ah'll learn thi ah'll learn thi. Ne'ermind where's tha bin. How much what's that when it's at ooam ee by gum. Appens as maybe eeh nay lad soft lad nay lad. What's that when it's at ooam big girl's blouse. Sup wi' 'im gerritetten ah'll gi' thi summat to rooer abaht shurrup. Ne'ermind ah'll box thi ears is that thine what's that when it's at ooam. Will 'e 'eckerslike gerritetten big girl's blouse soft lad. Ah'll learn thi. How much a pint 'o mild wacken thi sen up gi' o'er. Bobbar be reet mardy bum appens as maybe eeh tha knows.</p>
                <p>Eeh where's tha bin. Be reet wacken thi sen up will 'e 'eckerslike. Soft southern pansy will 'e 'eckerslike. Any rooad. Mardy bum appens as maybe breadcake. T'foot o' our stairs tha daft apeth eeh nay lad. Face like a slapped arse th'art nesh thee face like a slapped arse by 'eck will 'e 'eckerslike soft southern pansy. Face like a slapped arse. Dahn t'coil oil ah'll box thi ears chuffin' nora. Bloomin' 'eck. Tha knows appens as maybe. Tell thi summat for nowt big girl's blouse where's tha bin. Is that thine gerritetten how much tha daft apeth.</p>
            </div>
        </div>
    </section>
    <section class="clear blurb">
        <!-- Twitter -->
        <div class="ui grid">
            <div class="eight wide column center_div" id="tweet_container">
                <h2><a href="https://twitter.com/YorkshireTec" title="YorkshireTec on Twitter"><i class="twitter icon"></i></a></h2>
                @foreach (var tweet in @Model.Tweets)
                {
                    <h3>@tweet</h3>
                    <div class="ui horizontal icon divider">
                        <i class="twitter icon"></i>
                    </div>
                }
            </div>
        </div>
    </section>
    <section class="opaque">
        <div class="ui grid">
            <div class="eight wide column center_div">
                <h2>Want to know more?</h2>
                <h3>Join our mailing list</h3>
                <!-- Begin MailChimp Signup Form -->
                <form action="http://yorkshiretec.us3.list-manage.com/subscribe/post?u=e91ce15c242d895864a05d39e&amp;id=2e2faa57fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup" class="ui error form segment">
                        <div class="mc-field-group field">
                            <label for="mce-EMAIL">Email Address</label>
                            <div class="ui left labeled input">
                                <input type="email" value="" name="EMAIL" placeholder="joe.bloggs@sharklasers.com" class="required email" id="mce-EMAIL">
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mc-field-group field">
                            <label for="mce-FNAME">First Name</label>
                            <div class="ui left labeled input">
                                <input type="text" value="" name="FNAME" class="required" placeholder="Joe" id="mce-FNAME">
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mc-field-group field">
                            <label for="mce-LNAME">Last Name</label>
                            <div class="ui left labeled input">
                                <input type="text" value="" name="LNAME" class="required" placeholder="Bloggs" id="mce-LNAME">
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mc-field-group field">
                            <label for="mce-TWITTER">Twitter </label>
                            <div class="ui left labeled input">
                                <input type="text" value="" name="TWITTER" class="" placeholder="JoeBloggs" id="mce-TWITTER">
                            </div>
                        </div>
                        <div class="mc-field-group field">
                            <label for="mce-COMANY">Company </label>
                            <div class="ui left labeled input">
                                <input type="text" value="" name="COMANY" class="" placeholder="ACME Ltd" id="mce-COMANY">
                            </div>
                        </div>
                        <div class="ui error message response" id="mce-error-response" style="display:none"></div>
                        <div class="ui success message response" id="mce-success-response" style="display:none"></div>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_e91ce15c242d895864a05d39e_2e2faa57fb" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="fluid ui button"></div>
                    </div>
                </form>
                <script type="text/javascript" src="../../Content/Scripts/mailchimp.js"></script>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </section>
