<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>YorkshireTec</title>
    <link rel="stylesheet" href="../../Content/screen.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/css/semantic.min.css" />
</head>
<body>
    <script type="text/javascript" src="//use.typekit.net/omw7pfi.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <h1>Yorkshire<span>Tec</span></h1>
    <div class="ui grid">
        <div class="four wide column">
        </div>
        <div class="eight wide column">
            <p>To find out more about what Yorkshire Tec is sign up to our newsletter.</p>
            <!-- Begin MailChimp Signup Form -->
            <form action="http://yorkshiretec.us3.list-manage.com/subscribe/post?u=e91ce15c242d895864a05d39e&amp;id=2e2faa57fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup" class="ui error form segment">
                    <div class="mc-field-group field">
                        <label for="mce-EMAIL">Email Address</label>
                        <div class="ui left labeled input">
                            <input type="email" value="" name="EMAIL" placeholder="joe.bloggs@sharklasers.com" class="required email" id="mce-EMAIL">
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mc-field-group field">
                        <label for="mce-FNAME">First Name</label>
                        <div class="ui left labeled input">
                            <input type="text" value="" name="FNAME" class="required" placeholder="Joe" id="mce-FNAME">
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mc-field-group field">
                        <label for="mce-LNAME">Last Name</label>
                        <div class="ui left labeled input">
                            <input type="text" value="" name="LNAME" class="required" placeholder="Bloggs" id="mce-LNAME">
                            <div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mc-field-group field">
                        <label for="mce-TWITTER">Twitter </label>
                        <div class="ui left labeled input">
                            <input type="text" value="" name="TWITTER" class="" placeholder="@JoeBloggs" id="mce-TWITTER">
                        </div>
                    </div>
                    <div class="mc-field-group field">
                        <label for="mce-COMANY">Company </label>
                        <div class="ui left labeled input">
                            <input type="text" value="" name="COMANY" class="" placeholder="ACME Ltd" id="mce-COMANY">
                        </div>
                    </div>
                    <div class="ui error message response" id="mce-error-response" style="display:none"></div>
                    <div class="ui success message response" id="mce-success-response" style="display:none"></div>
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e91ce15c242d895864a05d39e_2e2faa57fb" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="fluid ui button"></div>
                </div>
            </form>
            <script type="text/javascript" src="../../Content/Scripts/mailchimp.js"></script>
            <!--End mc_embed_signup-->
        </div>
        <div class="four wide column">
        </div>
    </div>
</body>
</html>
