<h3>Great, almost there</h3>
<p>You will receive an email shortly to confirm this subscription.</p>
<p>We will be launching soon, follow us on <a href="https://twitter.com/intent/user?screen_name=YorksDigital" target="_blank">Twitter</a> in the meantime to keep up to date with the latest new and events.</p>
<hr />
@Html.Partial("_SpreadTheWord")