{% layout "admin-layout" %}
{% block title %}Admin{% endblock %}

{% block content %}

	<section class="layout-constrained">

		<h1>Hey, Lynden</h1>
		<p>
			This will be the dashboard.
		</p>
        
	</section>

{% endblock %}
