{% block title %}Intro Page{% endblock %} 
{% block content %}
	<h1>Welcome to the Mixture starter project</h1>
	<h3>What is the starter project?</h3>
	<p>
		This project is not intended to be a fully fledged framework that is a silver bullet for creating UI's. It is simply a starting point to get up and running creating code that can be taken through to a production version further down the line.  
	</p>
	<h3>The following have been created</h3>
	<ul>
		<li>A project structure has been setup that contains the following:
			<ul>
				<li>Base layout using HTML5 boilerplate</li>
				<li>Sample header and navigation includes</li>
				<li>Public style directory for Sass, CSS, images and fonts</li>
				<li>Scripts folder with jQuery, Modernizr and a sample main.js file</li>
			</ul>
		</li>
		<li>A 24px baseline grid has been setup including guides to tweak vertical rhythm</li>
		<li>Primary Sass partials have been added to get the project underway</li>
	</ul>
{% endblock %}