{% block title %}Intro Page{% endblock %} 
{% block content %}
	
	
	<section class="hero-banner">

		<a href="#" class="logo-site" >
			<img src="{{ "logo-yorkshiredigital.svg" | asset_url }}" alt="">
		</a>

		<!-- <h1>YorkshireDigital</h1> -->
		<h1>Bringing Yorkshires digital community together</h1>

	</section>
	
	<p class="intro">
		Yorkshire's digital sceen is rapidly growing with meetups cropping up all over. 
	</p>
	<p>
		We are a group of like-minded individuals that are looking to bring the digital community in Yorkshire together with the aim to improve Yorkshire’s digital future.
	</p>
	<p>
		Our goal is to create an infrastructure in which individuals, organisations and user groups of all skill sets can easily share knowledge, find new connections and help to educate.
	</p>
	<p>
		We look to all areas of the digital community to get involved, this is an inclusive group looking to make a difference. 
	</p>

	<div class="sign-up">
		<h1>Sign up</h1>
		<div class="form-group">
			<label for="firstName">First name</label>
			<input type="text" id="firstName" />
		</div>
		<div class="form-group">
			<label for="emailAddress">Email address</label>
			<input type="text" id="emailAddress" />
		</div>
	</div>
{% endblock %}