{% block title %}Bringing Yorkshires digital community together{% endblock %} 
{% block content %}
	<section class="home-banner">
		<div class="logo-site">
			<!-- <img class="logo-site" src="{{ "logo-yorkshiredigital-reversed.svg" | asset_url }}" alt=""> -->
		</div>
		<div class="hero">
			<h1>Bringing Yorkshire's digital community together</h1>
			<p>
				A hub for the growing digital community in Yorkshire, where individuals, organisations and user groups of all skill sets can easily see whats going on, find new connections and share knowledge.
			</p>
			<p>
				If you run a meetup in Yorkshire and would like to get involved  <a href="mailto:">let us know</a>.
			</p>
		</div>
	</section>
	<section class="sign-up layout-stacked">
		<div class="js-pre-sign-up">
			<h2>Want to know more?</h2>
			<p>Sign up to our newsletter and be the first to hear when we launch.</p>
			<div class="form-group">
				<label for="firstName">First name</label>
				<input type="text" id="firstName" class="input-full" />
			</div>
			<div class="form-group">
				<label for="emailAddress">Email address</label>
				<input type="text" id="emailAddress" class="input-full input-validation-error" />
				<span class="sub-label field-validation-error">Please enter a valid email address</span>
			</div>
			<div class="form-actions">
				<button class="btn btn--primary btn--full js-sign-up-btn" type="button">Sign up</button>
			</div>
			<span class="sub-info">Don't worry, we hate spam as much as you</span>
		</div>
		<div class="js-post-sign-up is-hidden">
			<h3>Great, almost there</h3>
			<p>You will receive an email shortly to confirm this subscription.</p>
			<p>We will be launching soon, follow us on <a href="https://twitter.com/YorkshireTec">Twitter</a> in the meantime to keep up to date with the latest new and events.</p>
			<hr />
			<div class="island">
				<h3>Help us spread the word</h3>
				<p>Let people know about YorkshireDigital and help us to grow the community.</p>
				<button class="btn btn--full btn--primary">Copy link</button>
			</div>
		</div>
		<footer role="contentinfo">
			<small>© 2014 YorkshireDigital</small>
		</footer>			
	</section>
{% endblock %}