{% block title %}Intro Page{% endblock %} 
{% block content %}
	<section class="layout-constrained home-banner">
		<img class="logo-site" src="{{ "logo-yorkshiredigital-reversed.svg" | asset_url }}" alt="">
		<div class="hero">
			<h1>Bringing Yorkshires digital <br />community together</h1>
			<p>
				The tech sceen in Yorkshire is growing, we want to help this by creating a hub for the digital community in which individuals, organisations and user groups of all skill sets can easily share knowledge, find new connections and help to educate.
			</p>
			<p>We have a roadmap of features in place which will be published when we launch. The kind of things you can expect to find here are...</p>
			<div class="features">
				<span class="icn icn--home">Event Calendar</span>
				<span class="icn icn--home"></span>
				<span class="icn icn--home"></span>
			</div>
			<p>
				If you run a meetup in Yorkshire and would like to get involved  <a href="mailto:">let us know</a>.
			</p>
		</div>
		<div class="sign-up layout-stacked">
			<div class="newsletter">
				<h2>Want to know more?</h2>
				<p>Sign up to our newsletter and be the first to hear when we launch.</p>
				<div class="form-group">
					<label for="firstName">First name</label>
					<input type="text" id="firstName" class="input-full" />
				</div>
				<div class="form-group">
					<label for="emailAddress">Email address</label>
					<input type="text" id="emailAddress" class="input-full" />
				</div>
				<div class="form-actions">
					<button class="btn btn--primary btn--full">Sign up</button>
				</div>
				<span class="sub-info">Don't worry, we hate spam as much as you</span>
			</div>
			<div class="is-hidden">
				<h3>Great work!</h3>
				<p>We will be up an running shortly, in the meantime if you want to check us out on Twitter and help spread the word we would appreciate it.</p>
			</div>
			<footer role="contentinfo">
				<small>© 2014 YorkshireDigital</small>
			</footer>			
		</div>
	</section>
{% endblock %}