{% block title %}Bringing Yorkshires digital community together{% endblock %} 
{% block content %}
	<div class="logo-site">
	</div>
	<div class="hero">
		<h1>Bringing Yorkshire's digital community together</h1>
		<p>
			A hub for the growing digital community in Yorkshire, where individuals, organisations and user groups of all skill sets can easily see whats going on, find new connections and share knowledge.
		</p>
		<p>
			If you run a meetup in Yorkshire and would like to get involved  <a href="mailto:info@yorkshiredigital.com">let us know</a>.
		</p>
	</div>

	<section class="calendar">
		<h1>Calendar goes here</h1>

	</section>


	
{% endblock %}

{% block pageScripts %} 
	{{ "moment-2.5.1.js" | asset_url | script_tag }}
	{{ "underscore.js" | asset_url | script_tag }}
	{{ "clndr.js" | asset_url | script_tag }}
{% endblock %}