{% block title %}Second Page{% endblock %}
{% block content %}
	<h1>Second Page</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, possimus officia voluptatem minima velit dignissimos eveniet ratione labore eaque perspiciatis corrupti hic error rem nam ullam! Repellendus earum architecto nam.</p>
{% endblock %}
