<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Meetup_Bot_ApiKey" value="10555c246dbe57667c776b13686c3" />
    <add key="Meetup_Bot_MemberId" value="187831112" />
    <add key="SiteUrl" value="http://localhost:61140/" />
  </appSettings>
  <connectionStrings>
    <add name="MessageQueue" connectionString="host=localhost" />
    <add name="Database" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=YorkshireDigital.Database;Integrated Security=True;Pooling=False;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="Database.Hangfire" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=YorkshireDigital.Database.Hangfire;User Id=app_hangfire;Password=hangfire" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>