<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="EasyNetQ" version="0.50.10.403" targetFramework="net452" />
  <package id="Hangfire.Core" version="1.5.0" targetFramework="net452" />
  <package id="Hangfire.SqlServer" version="1.5.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="OctoPack" version="3.0.45" targetFramework="net452" developmentDependency="true" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.5.6" targetFramework="net452" />
  <package id="Serilog" version="1.5.11" targetFramework="net452" />
  <package id="Topshelf" version="3.2.0" targetFramework="net452" />
</packages>