@{
    Layout = "Shared/_HeroLayout.cshtml";
}

<h2>We'll be in touch!</h2>
<p>Thanks for signing up to our newsletter.</p>
<p>In the mean time why not check out our <a href="~/" title="Calendar of events">calendar of events</a> and <a href="/mailinglist/archive" title="Newsletter Archive">past issues</a>.</p>