/*	=IMPORTS
--------------------------------------------------------------------*/
@import "compass"; 				// Cut this down as required
@import "compass/typography/vertical_rhythm";

/* Partials */
@import "partials/normalize"; 	// Edited version of Nicolas Galaghers Normalise
@import "partials/base.scss";	// Global variables, global mixins & global styles such as clearfix
@import "partials/typography";	// Global typographys settings such as hN header stack 
@import "partials/buttons";		// Button variations
@import "partials/navigation";	// Navigation such as global nav, sub nav and tabs etc
@import "partials/forms";		// Global form styles

/*  =BASE
------------------------------------------------------------*/
html {
	height: 100%;
	background: #fff;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	background: #333;
	//@include baseline-overlay();
}

ul {
	margin: 0 0 .75em 0;

	ul {
		margin: .375em 0 .375em 0;
	}
}

/*  =LAYOUT
--------------------------------------------------------------------*/
%layout {
    min-width: 300px;
    padding: 0 3em;
    margin: 0 auto;

    @include breakpoint(single) {
        padding: 0 1em;
    }
}

.layout-constrained {
	@extend %layout;
}

/*  =HERO BLOCK
--------------------------------------------------------------------*/
.home-banner {
	height: 100%;
	padding-top: 2em;
	background: url(../img/bg-homepage-banner.png) no-repeat;
	background-size: cover;
    background-position: 50% 50%;
}

.hero {
	padding-right: 40%;
	

	h1, p {
		color: #fff;
	}
}

.logo-site {
	display: block;
	max-width: 360px;
}

.strapline {

}

/*  =SIGN UP BLOCK
--------------------------------------------------------------------*/
.sign-up {
	@include rhythm(padding, 2);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 35%;
	background: rgba(255,255,255,1);
}


/*  =ISLAND
--------------------------------------------------------------------*/
.island {
	padding: .875em;
	background: #ddd;
}

/*  =GENERAL UI ELEMENTS
------------------------------------------------------------*/


@import "partials/temp"; // Used for temporary styles throughout the project. This should ideally be empty in production environments