/*	=CALENDAR
--------------------------------------------------------------------*/
.calendar {
	position: relative;
}

.clndr {
	
}

.clndr-controls {

	.month {
		width: 40%;
		display: inline-block;
		text-align: center;
	}

}

.clndr-controls__nav {
	@include font-size(1.8);
	@include border-radius(2em);
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	background: #0e7279;
	color: #fff;

	&:hover {
		background: darken(#0e7279, 5%);
	}
}

.clndr-contols__filter {
	float: right;
	margin-left: 1em;
}

.clndr-grid {
	
}

.clndr-header {
	overflow: hidden;
	border-bottom: 1px solid #F1F1F1;
}

.header-day {
	width: 14.2857%;
	float: left;
	padding: 1%;

	@include breakpoint(viewport-s) {
		padding: 0;
		text-align: center;
	}
}

.header-day__sm {
	display: none;

	@include breakpoint(viewport-s) {
		display: block;
	}
}

.header-day__md {
	display: none; 



	@include breakpoint(viewport-m) {
		display: block;
	}

	@include breakpoint(viewport-s) {
		display: none;
	}
}

.header-day__lg {
	display: block;

	@include breakpoint(viewport-m) {
		display: none;
	}
}

.days {
	@extend .group;
	border: solid #F1F1F1;
	border-width: 0 0 0 1px;

	@include breakpoint(viewport-s) {
		border-width: 0;
	}
}

.day {
	width: 14.2857%;
	height: 6em;
	float: left;
	padding: 1%;
	border: solid #F1F1F1;
	border-width: 0 1px 1px 0;

	@include breakpoint(viewport-s) {
		height: 3em;
		text-align: center;
		border-width: 0 0 1px 0;
	}
}

.day-label {
	display: block;
}

.today {
	position: relative;

	&:after {
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		content: "";
		border: 1px solid #AAA;
	}
}

.last-month,
.next-month {
	color: #AFAFAF;
	background: #F8F8F8;
}

.event-listing {
	display: none;

	@include breakpoint(viewport-l) {
		display: block;
	}
}


.calendar-event {
	@include border-radius(10px);
	min-width: 8px;
	min-height: 8px;
	margin-bottom: .125em;
	padding: 0 5%;
	color: #fff;
	text-align: center;
	background: #5A9BA0;
	cursor: pointer;
	

	@include breakpoint(viewport-s) {
		display: inline-block;
	}
}

.calendar-event__full-details {
	display: none;
}

.calendar-event--expanded {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 2em;
	background: #fff !important;

	.calendar-event__title {
		@include font-size(3);
		font-family: MetronicProRegular;
		color: #333;
	}

	.calendar-event__strapline {
		@include font-size(1.6);
		color: $accent-tertiary;
	}

	.calendar-event__full-details {
		display: block;
		color: #333;
	}
}

.calendar-event__short-title {
	display: none;
	@include font-size(.8);

	@include breakpoint(viewport-s) {
		
	}
}

.calendar-event__title {

	@include font-size(.8);

	@include breakpoint(viewport-m) {
		display: none;
	}
}

