/*	=BASE ISLAND STYLES
--------------------------------------------------------------------*/

.island {
	padding: 1em;
}

.island--horizontal-break {
	margin: 1.5em 0;
	border: solid #ddd;
	border-width: 2px 0;
	text-align: center;

	p:last-child {
		margin: 0;
	}

}


/*	=INPUT ISLAND
--------------------------------------------------------------------*/

.island-input {
	padding: .6666em;
	background: #F7F7F7;
	border: 1px solid #F0EEEE;
	transition: all $base-transition;
	@include border-radius();


	&:hover {
		background: darken(#F7F7F7, 2%);
	}

}
