<footer class="site-footer" role="contentinfo">
    <small>© 2015 YorkshireDigital</small>
    <small>Hosted by <a href="http://www.brightbox.com" target="_blank">Brightbox</a> in Yorkshire</small>
</footer>
