<nav class="nav-primary">
	<ul>
		<li {% if mixture.url == "index" %}class="current"{% endif %}><a href="/">Introduction</a></li>
		<li {% if mixture.url == "sample-page" %}class="current"{% endif %}><a href="/sample-page">Sample Page</a></li>
	</ul>
</nav>