<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="owin:HandleAllRequests" value="true"/>
    <add key="consumerKey" value="Key"/>
    <add key="consumerSecret" value="Secret"/>
    <add key="accessToken" value="Token"/>
    <add key="accessTokenSecret" value="TokenSecret"/>
    <add key="Raven_Url" value="http://localhost:8080" />
    <add key="Raven_Database" value="YorkshireTec" />
    <add key="Raven_ApiKey" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>