<div class="ui list">
    <div class="item">
        <a href="~/authentication/redirect/facebook" title="Facebook" class="fluid ui facebook button">Facebook</a>
    </div>
    <div class="item">
        <a href="~/authentication/redirect/twitter" title="Twitter" class="fluid ui twitter button">Twitter</a>
    </div>
    <div class="item">
        <a href="~/authentication/redirect/google" title="Google Plus" class="fluid ui google plus button">Google Plus</a>
    </div>
    <div class="item">
        <a href="~/authentication/redirect/linkedin" title="LinkedIn" class="fluid ui linkedin button">LinkedIn</a>
    </div>
</div>
