<header class="site-header">
	<div class="layout-constrained">
		<div class="logo-site">
		</div>
		<div class="hero">
			<h1>Bringing Yorkshire's digital community together</h1>
			<p>
			YorkshireDigital is a hub for the growing digital community in Yorkshire, where individuals, organisations and user groups of all skill sets can easily see whats going on, find new connections and share knowledge.
			</p>
		</div>
	</div>
</header>

<section class="layout-constrained">
	<h1>Hey, there's 13 events this month throughout Yorkshire!</h1>
	<p>
	The meetup scene is booming in the region and its only getting better! See all the upcoming events below, please <a href="mailto:info@yorkshiredigital.com">let us know</a> if you run or know events that are not listed.
	</p>
	<tien-clndr class="calendar" tien-clndr-object="clndr" tien-clndr-events="events">
		<div class="clndr-controls">
			<div class="clndr-nav">
				<div class="clndr-previous-button clndr-controls__nav" ng-click="clndr.back()">&lsaquo;</div>
				<h2 class="month">
					{{ month }} <span class="viewport-s--hidden">Events</span>
				</h2>
				<div class="clndr-next-button clndr-controls__nav" ng-click="clndr.forward()">&rsaquo;</div>
				<!--<div class="clndr-today-button">Today</div>-->
			</div>
			
			<div class="clndr-filters">
				<label class="is-offscreen" for="interestFilter">Filter by interest</label>
				<div class="clndr-contols__filter select-custom">
                    <select ng-model="search.interests" ng-options="interest for interest in interests">
                        <option value="" selected>All interests</option>
                    </select>
				</div>
				<label class="is-offscreen" for="locationFilter">Filter by location</label>
				<div class="clndr-contols__filter select-custom">
                    <select ng-model="search.location" ng-options="location for location in locations">
                        <option value="" selected>All locations</option>
                    </select>
				</div>
			</div>
		</div>
		<div class="clndr-grid">
			<div class="days-of-the-week">
				<header class="clndr-header">
					<div class="header-day" ng-repeat="dayOfTheWeek in daysOfTheWeek track by $index">{{ dayOfTheWeek }}</div>
				</header>
				<div class="days">
					<div class="{{ day.classes }}" ng-repeat="day in days">
						<span class="day-label">{{day.day}}</span>
                        <div class="calendar-event" style="background: {{ event.colour }} " ng-repeat="event in day.events | calendarFilter:search">
                            <span class="calendar-event__short-title">{{ event.shortTitle }}</span>
                            <span class="calendar-event__title">{{ event.title }}</span>
                            <div class="calendar-event__full-details">
                                <span class="calendar-event__strapline">{{event.shortDescription}}</span>
                                <div class="calendar-event__description">{{event.longDescription}}</div>
                                <span class="calendar-event__location">{{event.location}}</span>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="event-listing">
			<div class="event-listing-title">EVENTS THIS MONTH</div>
			<div class="event-item" ng-repeat="event in eventsThisMonth">
				<div class="event-item-name">{{ event.title }}</div>
				<div class="event-item-location">{{ event.description }}</div>
				<div class="event-item-date">{{ event.startDate }}</div>
			</div>
		</div>
	</tien-clndr>
	<div class="island island--horizontal-break">
		<p>
		Do you run or know of any meetups/events in Yorkshire we have not listed? <a href="mailto:info@yorkshiredigital.com">let us know</a>.
		</p>
	</div>
</section>
<footer class="site-footer" role="contentinfo">
	<small>© 2014 YorkshireDigital</small>
	<small>Hosted by <a href="http://www.brightbox.com" target="_blank">Brightbox</a> in Yorkshire</small>
</footer>