{% layout "admin-layout" %}
{% block title %}Admin Events{% endblock %}

{% block content %}

	<section class="layout-constrained">

		<h1>Events</h1>
		<p>
			Here are the events.
		</p>


        <div class="select-custom">
            <select class="" name="" id="">
                <option value="">Future events</option>
                <option value="">Past events</option>
            </select>
        </div>

		<div class="card-list">

			<div class="card">
	            <div class="card__body">
					<h4>April Meetup</h4>
					<p>
						Def Shef<br />
						<span class="date">29th Apr 15 8pm</span><br />
						<!-- <span class="milli subtle">def-shef-apr-2015</span> -->
					</p>
				</div>
				<div class="card__actions">
					<button type="button" name="button">Edit</button>
				</div>
	        </div>

			<div class="card">
	            <div class="card__body">
					<h4>April Meetup</h4>
					<p>
						Def Shef<br />
						<span class="date">29th Apr 15 8pm</span><br />
						<!-- <span class="milli subtle">def-shef-apr-2015</span> -->
					</p>
				</div>
				<div class="card__actions">
					<button type="button" name="button">Edit</button>
				</div>
	        </div>

		</div>


	</section>

{% endblock %}
