
<div class="section-intro">
    <h2>Hey, there're <span id="event-count"></span> events this month throughout Yorkshire!</h2> @*{{ (events | clndrCurrentMonthFilter:clndr).length }}*@
    <p>
        See all the upcoming events below, please <a href="mailto:info@yorkshiredigital.com">let us know</a> if you run or know events that are not listed.
    </p>
</div>
<div class="clndr-controls">
    <div class="clndr-nav">
        <div class="js-clndrPreviousMonth clndr-previous-button clndr-controls__nav">&lsaquo;</div>
        <h2 class="month">
            <span id="calendar-month"></span> <span class="viewport-s--hidden">Events</span>
        </h2>
        <div class="js-clndrNextMonth clndr-next-button clndr-controls__nav">&rsaquo;</div>
        <!--<div class="clndr-today-button">Today</div>-->
    </div>

    <div class="clndr-filters">
        <label class="is-offscreen" for="interestFilter">Filter by interest</label>
        <div class="clndr-contols__filter select-custom">
            <select class="js-filter-interests">
                <option value="" selected>All interests</option>
            </select>
        </div>
        <label class="is-offscreen" for="locationFilter">Filter by location</label>
        <div class="clndr-contols__filter select-custom">
            <select class="js-filter-location">
                <option value="" selected>All locations</option>
            </select>
        </div>
    </div>
</div>
<div class="clndr-grid loading__item">
    <div class="loading-item__overlay">
        <div class="loading-item__feedback">
            <h3>Loading Events</h3>
            <p>Almost there!</p>
        </div>
    </div>
    <div class="events-calendar">

    </div>
</div>
<script type="text/template" id="template-calendar">
    <div class="days-of-the-week">
        <header class="clndr-header">
            <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day">
                <%= day %>
            </div>
            <% }); %>
        </header>
        <div class="days">
            <% _.each(days, function(day) { 
            @* This filters the events *@
                day.filteredEvents = _.filter(day.events, function (evt) {
                    var search = {
                        interest: $(".js-filter-interests option:selected").val(),
                        location: $(".js-filter-location option:selected").val()
                    }
                    var match = true;
                    if (search.interest !== "") {
                        if (!_.any(evt.interests, function (interest) {
                            return interest === search.interest;
                        })) {
                            match = false;
                        }
                    }
                    if (search.location !== "") {
                        if (evt.region !== search.location) {
                            match = false;
                        }
                    }
                    return match;
                }); %>
            <div class="<%= day.classes %> <% if (day.filteredEvents.length > 3){ %>day__many<% } %>">
                <div class="day-label">
                    <span class="day-label__name"><%= moment(day.date).format('ddd') %></span>
                    <span class="day-label__number"><%= day.day %></span>
                </div>
                <div class="events-list">
                    <% _.each(day.filteredEvents, function(event) { %>
                    <div class="calendar-event <% if (event.title.length > 11){ %>event__long<% } %>" id="<%= event.uniqueName %>"
                         style="background: <%= event.colour %>;">
                        <span class="calendar-event__short-title"><%= event.shortTitle %></span>
                        <span class="calendar-event__title"><%= event.title %></span>
                    </div>
                    <% }); %>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</script>