<!-- Begin MailChimp Signup Form -->
<form action="https://yorkshiredigital.us3.list-manage.com/subscribe/post?u=e91ce15c242d895864a05d39e&amp;id=2e2faa57fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate autocomplete="off">
    <div id="mc_embed_signup">
        <h3>Sign up to our newsletter</h3>
        <div class="mc-field-group form-group">
            <label for="mce-NAME" class="is-offscreen">
                First name
            </label>
            <input type="text" placeholder="First name" value="" name="NAME" class="required input-full field" id="mce-NAME">
        </div>
        <div class="mc-field-group form-group">
            <label for="mce-EMAIL" class="is-offscreen">
                Email address
            </label>
            <input type="email" placeholder="Email address" value="" name="EMAIL" class="required email input-full field" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
            <div class="response sub-label field-validation-error" id="mce-error-response" style="display:none"></div>
            <div class="response" style="display:none"></div>
        </div>
        <!-- bot trap -->
        <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_e91ce15c242d895864a05d39e_2e2faa57fb" value="">
        </div>
        <div class="clear">
            <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn--primary btn--full js-sign-up-btn">
        </div>
        <span class="sub-info">Don't worry, we hate spam as much as you</span>
    </div>
</form>
<!--End mc_embed_signup-->
<div id="mce-success-response" style="display: none;">
    <div class="island">
        <h3>Help us spread the word</h3>
        <p>Let people know about YorkshireDigital and help us to grow the community.</p>
        <div class="form-group">
            <button class="btn btn--full btn--primary" id="copy-link">Copy link</button>
        </div>
        <div class="form-group is-hidden" id="copy-input">
            <input type="text" value="http://www.yorkshiredigital.com/" onclick="this.setSelectionRange(0, this.value.length)" class="input-full field" />
        </div>
    </div>
    <div class="island">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_compact"></a>
        </div>
        <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5355881f634ab83a"></script>
        <!-- AddThis Button END -->
    </div>
    <script type="text/javascript">
        $(function () {
            $('#copy-link').click(function () {
                $(this).closest('.form-group').addClass('is-hidden');
                $('#copy-input').removeClass('is-hidden');
                $('#copy-input').click();

                $('#copy-input input').get(0).setSelectionRange(0, $('#copy-input input').val().length);
            });
        });
    </script>
</div>
