<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="authenticationProviders" type="SimpleAuthentication.Core.Config.ProviderConfiguration, SimpleAuthentication.Core" />
  </configSections>
  <connectionStrings>
    <add name="MessageQueue" connectionString="host=localhost" />
    <add name="Database" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=YorkshireDigital.Database;Integrated Security=True;Pooling=False;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="Database.Hangfire" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=YorkshireDigital.Database.Hangfire;User Id=app_hangfire;Password=hangfire" />
  </connectionStrings>
  <appSettings>
    <add key="owin:HandleAllRequests" value="true" />
    <add key="consumerKey" value="" />
    <add key="consumerSecret" value="" />
    <add key="accessToken" value="" />
    <add key="accessTokenSecret" value="" />
    <add key="Errors_DisplayDetails" value="true" />
    <add key="MailChimp_ApiKey" value="" />
    <add key="MailChimp_ListId" value="" />
    <add key="MailChimp_ServerKey" value="fee5ca9e-55da-46b3-80fc-45d664629aec" />
    <add key="Slack_ApiKey" value="" />
    <add key="Slack_Project" value="" />
    <add key="Slack_Webhook_Url" value="" />
    <add key="Sentry_DSN" value="https://24472196dbcc49c887358401453051d8:def97a6c7c384c60bfbcda6584f1f68b@app.getsentry.com/40022" />
    <add key="Meetup_Bot_ApiKey" value="10555c246dbe57667c776b13686c3" />
    <add key="Meetup_Bot_MemberId" value="187831112" />
    <add key="Nancy_Diagnostics" value="" />
    <add key="SSO_Discourse_Key" value="7ZGB6ocXQtg3wzpyn966ahqlgkX800X9" />
    <add key="SSO_Discourse_Domain" value="http://forum.yorkshiredigital.com" />
    <!-- Features: name the key Feature:{FeatureName} -->
    <add key="Feature:Calendar" value="true" />
    <add key="Feature:Account" value="true" />
    <add key="Feature:Beta" value="false" />
    <add key="Feature:GA" value="false" />
    <add key="Feature:MailChimp" value="false" />
    <add key="Feature:Slack" value="false" />
    <add key="Feature:Sentry" value="false" />
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <authenticationProviders>
    <providers>
      <add name="Facebook" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
      <add name="Google" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
      <add name="Twitter" key="Rb7qNNPUPsRSYkznFTbF6Q" secret="pP1jBdYOlmCzo08QFJjGIHY4YSyPdGLPO2m1q47hu9c" />
      <add name="WindowsLive" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
    </providers>
  </authenticationProviders>
</configuration>