<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Database" 
      connectionString="Data Source=.\SQLEXPRESS;User Id=yorkshire_admin;Password=!!72%ring%BRANCHES%sudden%22!!;Database=YorkshireDigital;" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="consumerKey" value="cXTGDjf0MBNQWB1IvcaEnA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="consumerSecret" value="0Wz3oBFO4D5dn0LGtM7V6ZuIjLFl6Ac1r0Pt7mKA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="accessToken" value="183268831-C2mwzwFbOe7OPkebbtQKHCJpQM1CnmEW4Ibp4pw3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="accessTokenSecret" value="mqBOrRRVkxhN7HswBxD4yQdnmQqntQdTNiM1A3T3yP5Kt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Errors_DisplayDetails" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailChimp_ApiKey" value="1c60541c48644f01560cbf370672e8cd-us3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailChimp_ListId" value="2e2faa57fb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailChimp_ServerKey" value="fee5ca9e-55da-46b3-80fc-45d664629aec" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Slack_Webhook_Url" value="https://hooks.slack.com/services/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" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Slack_ApiKey" value="w1nuP0pnlgx8KY1S48MlvkR4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Slack_Project" value="yorkshiretec" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Sentry_DSN" value="https://24472196dbcc49c887358401453051d8:def97a6c7c384c60bfbcda6584f1f68b@app.getsentry.com/40022" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Nancy_Diagnostics" value="!PpK0z8i" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SiteUrl" value="http://dev.yorkshiredigital.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Feature:Calendar" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Feature:Account" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Feature:Beta" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Feature:MailChimp" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Feature:Slack" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Feature:Sentry" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>