<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Database" 
      connectionString="Host=localhost;UserName=app_yorks;Password=development;Database=YorksDb;" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="consumerKey" value="cXTGDjf0MBNQWB1IvcaEnA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="consumerSecret" value="0Wz3oBFO4D5dn0LGtM7V6ZuIjLFl6Ac1r0Pt7mKA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="accessToken" value="183268831-C2mwzwFbOe7OPkebbtQKHCJpQM1CnmEW4Ibp4pw3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="accessTokenSecret" value="mqBOrRRVkxhN7HswBxD4yQdnmQqntQdTNiM1A3T3yP5Kt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailChimp_ApiKey" value="1c60541c48644f01560cbf370672e8cd-us3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailChimp_ListId" value="2e2faa57fb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Slack_Enabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Slack_ApiKey" value="w1nuP0pnlgx8KY1S48MlvkR4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Slack_Project" value="yorkshiretec" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Nancy_Diagnostics" value="!PpK0z8i" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>