@{
    Layout = "Shared/_Layout.cshtml";
}
@using YorkshireTec.Api.Infrastructure
@using YorkshireTec.Infrastructure
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireTec.Api.Infrastructure.BaseViewModel<YorkshireTec.Api.Account.ViewModels.WelcomeViewModel>>
    
<section class="opaque blurb">
    <div class="ui grid">
        <div class="eight wide column center_div" id="about">
            <h2>Welcome to Yorkshire!</h2>
            <p>Now that you're here why don't you take a look around.</p>
            @if (!Model.ViewModel.OnMailingList)
            {
                <div id="mailchimp-wrapper">
                    <p>There's plenty more to come. Why no sign up to our newsletter to keep up to date about all things Yorkshire Digital!</p>
                    <div class="ui form segment" id="joinMailingList">
                        <input type="hidden" name="UserId" id="UserId" value="@Model.ViewModel.UserId" />
                        <div class="field">
                            <label>Email</label>
                            <div class="ui left labeled icon input">
                                <input type="text" placeholder="Email" name="email" id="email" value="@Model.ViewModel.Email">
                                <i class="mail icon"></i>
                                <div class="ui corner label">
                                    <i class="icon asterisk"></i>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(Model.Page.Notifications, "Email")
                        </div>
                        <div class="clear"><a name="subscribe" id="mc-subscribe" class="fluid ui teal button">Sign me up</a></div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('#mc-subscribe').click(function () {
                $('#joinMailingList').addClass('loading');
                var userId = $('#UserId').val();
                var email = $('#email').val();

                var request = $.ajax({
                    url: "mailinglist/subscribe",
                    type: "POST",
                    data: { userId: userId, email: email },
                    dataType: "html"
                });

                request.done(function () {
                    $("#mailchimp-wrapper").html("<h3>Awesome, see you soon</h3>");
                });

                request.fail(function () {
                    $('#joinMailingList').removeClass('loading');
                    $('#joinMailingList').append('<div class="ui error message show "><div class="ui list divided"><div class="item">Uh oh! Looks like there was a problem.</div></div></div>');
                });
            });
        });
    </script>
}