{% layout "layout-narrow" %}
{% block title %}Sign In - Bringing Yorkshires digital community together{% endblock %}
{% block content %}
	<section>
		<div class="layout-constrained layout-constrained--narrow layout-stacked">
			<h2>Sign in&#8230;</h2>
            <p>
                Enter the email account you signed up with and we will send you a password reset link.
            </p>

			<div class="form-group">
				<label class="is-offscreen" for="emailAddress">Email address</label>
				<input type="text" id="emailAddress" class="input-full" placeholder="Email address" />
			</div>

			<div class="form-actions text--center push--bottom">
				<button class="btn btn--primary btn--full push--bottom" type="button">Reset password</button>
            </div>

		</div>

        <div class="island island--medium island--full-bleed text--center">
            Remembered your details? <a href="/account/sign-in">Sign in</a>
        </div>

		<footer class="footer-site layout-constrained" role="contentinfo">
			<small class="footer-site__item">© 2015 YorkshireDigital</small>
            <small class="footer-site__item">Hosted by <a href="https://www.brightbox.com">Brighbox</a> in Yorkshire</small>
		</footer>
	</section>
{% endblock %}
