@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Admin.ViewModels.AdminGroupListViewModel>

<tr style="border-left: 5px solid @Model.Colour;">
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.ShortName</td>
    <td><a href="/admin/group/@Model.Id">Edit</a></td>
</tr>