@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Admin.ViewModels.AdminUserListViewModel>
<tr>
    <td>@Model.Username</td>
    <td>@Model.Name</td>
    <td>@Model.Email</td>
    <td>@Model.MailingListState</td>
</tr>