@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Admin.ViewModels.AdminUserListViewModel>
<div class="row">
    <div class="cell">@Model.Username</div>
    <div class="cell">@Model.Name</div>
    <div class="cell">@Model.Email</div>
    <div class="cell">@Model.MailingListState</div>
</div>
