@{
    Layout = "Shared/_HeroLayout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Admin.ViewModels.AdminEventViewModel>

<a href="/admin">Back to Admin</a>

<h2>New Event</h2>