<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=YorkshireDigital.Database.Hangfire;User Id=app_hangfire;Password=hangfire"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>