<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Meetup_Bot_ApiKey" value="10555c246dbe57667c776b13686c3" />
    <add key="Meetup_Bot_MemberId" value="187831112" />
  </appSettings>
  <connectionStrings>
    <add name="MessageQueue" connectionString="host=localhost" />
    <add name="Database" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=YorkshireDigital.Database;Integrated Security=True;Pooling=False;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="Database.Hangfire" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=YorkshireDigital.Database.Hangfire;User Id=app_hangfire;Password=hangfire" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
