@using Cassette.Nancy
@{
    Layout = "Shared/_LandingPageLayout.cshtml";

    Bundles.Reference("Scripts/mailchimp");
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireTec.Infrastructure.BaseViewModel<YorkshireTec.Home.ViewModels.IndexViewModel>>
<section class="sign-up layout-stacked">
    @Html.Partial("_MailChimpSignUpForm")
    <div id="mce-success-response" class="js-post-sign-up is-hidden">
        @Html.Partial("_MailingListConfirmation")
    </div>
    @Html.Partial("_CopyrightFooter")
</section>