@using Cassette.Nancy
@{
    Layout = "Shared/_LandingPageLayout.cshtml";

    Bundles.Reference("Scripts/mailchimp");
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireTec.Infrastructure.BaseViewModel<YorkshireTec.Home.ViewModels.IndexViewModel>>
<section class="sign-up layout-stacked">
    <!-- Begin MailChimp Signup Form -->
    <form action="https://yorkshiretec.us3.list-manage2.com/subscribe/post?u=e91ce15c242d895864a05d39e&amp;id=2e2faa57fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate autocomplete="off">
        <div id="mc_embed_signup">
            <h2>Want to know more?</h2>
            <p>Sign up to our newsletter and be the first to hear when we launch.</p>
            <div class="mc-field-group form-group">
                <label for="mce-NAME">
                    First name
                </label>
                <input type="text" value="" name="NAME" class="required input-full field" id="mce-NAME">
            </div>
            <div class="mc-field-group form-group">
                <label for="mce-EMAIL">
                    Email address
                </label>
                <input type="email" value="" name="EMAIL" class="required email input-full field" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response sub-label field-validation-error" id="mce-error-response" style="display:none"></div>
                <div class="response" style="display:none"></div>
            </div>
            <!-- bot trap -->
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_e91ce15c242d895864a05d39e_2e2faa57fb" value="">
            </div>
            <div class="clear">
                <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn--primary btn--full js-sign-up-btn" />
            </div>
            <span class="sub-info">Don't worry, we hate spam as much as you</span>
        </div>
    </form>
    <!--End mc_embed_signup-->
    <div id="mce-success-response" class="js-post-sign-up is-hidden">
        @Html.Partial("_MailingListConfirmation")
    </div>
    <footer role="contentinfo">
        <small>© 2014 YorkshireDigital</small>
    </footer>
</section>