@using Cassette.Nancy
@{
    Layout = "Shared/_Layout.cshtml";

    Bundles.Reference("Scripts/mailchimp");
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireTec.Infrastructure.BaseViewModel<YorkshireTec.Home.ViewModels.IndexViewModel>>
<section class="home-banner">
    <img class="logo-site" src="../../Content/img/logo-yorkshiredigital-reversed.svg" alt="">
    <div class="hero">
        <h1>Bringing Yorkshires digital community together</h1>
        <p>
            A hub for the growing digital community in Yorkshire, where individuals, organisations and user groups of all skill sets can easily see whats going on, find new connections and share knowledge.
        </p>
        <p>
            If you run a meetup in Yorkshire and would like to get involved  <a href="mailto:info@yorkshiredigital.com">let us know</a>.
        </p>
    </div>
</section>
<section class="sign-up layout-stacked">
    <!-- Begin MailChimp Signup Form -->
    <form action="http://yorkshiretec.us3.list-manage2.com/subscribe/post?u=e91ce15c242d895864a05d39e&amp;id=2e2faa57fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup">
            <h2>Want to know more?</h2>
            <p>Sign up to our newsletter and be the first to hear when we launch.</p>
            <div class="mc-field-group form-group">
                <label for="mce-EMAIL">
                    Email Address
                </label>
                <input type="email" value="" name="EMAIL" class="required email input-full field" id="mce-EMAIL">
            </div>
            <div class="mc-field-group form-group">
                <label for="mce-NAME">
                    Name
                </label>
                <input type="text" value="" name="NAME" class="required input-full field" id="mce-NAME">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response sub-label field-validation-error" id="mce-error-response" style="display:none"></div>
                <div class="response" style="display:none"></div>
            </div>
            <!-- bot trap -->
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_e91ce15c242d895864a05d39e_2e2faa57fb" value="">
            </div>
            <div class="clear">
                <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn--primary btn--full js-sign-up-btn" />
            </div>
        </div>
    </form>
    <!--End mc_embed_signup-->
    <div id="mce-success-response" class="js-post-sign-up is-hidden">
        <h3>Great, almost there</h3>
        <p>You will receive an email shortly to confirm this subscription.</p>
        <p>We will be launching soon, follow us on <a href="https://twitter.com/intent/user?screen_name=YorksDigital" target="_blank">Twitter</a> in the meantime to keep up to date with the latest new and events.</p>
        <hr />
        <div class="island">
            <h3>Help us spread the word</h3>
            <p>Let people know about YorkshireDigital and help us to grow the community.</p>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5355881f634ab83a"></script>
            <!-- AddThis Button END -->
        </div>
    </div>
    <footer role="contentinfo">
        <small>© 2014 YorkshireDigital</small>
    </footer>
</section>