// Button style variant mixin
@mixin button($btn-bg: $accent-primary) {
	background: $btn-bg; 
	border-color: darken( $btn-bg, 8% );
	@include single-transition(background, .2s);

	&:hover,
	&:focus {
		background: darken( $btn-bg, 8% );
		border-color: darken( $btn-bg, 8% );
		@include single-transition(background, .2s);
	}
}

.btn {
	@include border-radius(3px);
	display: inline-block;
	font-family: MetronicProRegular;
	text-decoration: none;
	text-align: center;
	color: #fff;
	border: solid;
	border-width: 1px;
	padding: 1em;
	cursor: pointer;

	&:hover {
		background: darken($accent-primary, 8%);
	}
}

/*  =BUTTON STATE VARIANTS
--------------------------------------------------------------------*/
.btn--primary {
	@include button($accent-primary);
}

.btn--secondary {
	@include button($accent-secondary);
}

.btn--tertiary {
	@include button($accent-tertiary);
}

.btn--positive {
	@include button($accent-positive);
}

.btn--negative {
	@include button($accent-negative);
}

.btn--hollow {
	background: transparent;

	&:hover {
		background: transparent;
	}
	
}

/*  =BUTTON SIZE VARIANTS
--------------------------------------------------------------------*/
.btn--xs {
	//@include font-size(1);
	font-family: $font-general;
	font-weight: 300;
	padding: 0 .5em;
}

.btn--s {
	font-weight: 500;
	padding: .4em .8em;
}

.btn--m {
	padding: .75em 1.25em;
}

.btn--l {
	padding: 1.2em 2em;
}

.btn--xl {
	padding: 1.5em 3em;
}

.btn--full {
	width: 100%;
}

/*  =BUTTON INTERACTIONS
------------------------------------------------------------*/
.btn--multi {
	position: relative;
	display: inline-block;
	padding-right: 4em;

	.btn {
		@include border-radius(3px 0 0 3px);
	}

	.btn-drop {
		@include border-radius(0 3px 3px 0);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 4em;
		cursor: pointer;
		border: 1px solid darken($accent-primary, 5%);
		
		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			content: "";
			border-top: 8px solid #fff;
			border-right: 5px solid transparent;			
			border-left: 5px solid transparent;
			margin: -4px 0 0 -5px;
		}
	}

	.btn-sub {
		@include border-radius(3px);
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		width: auto;
		//display: none;
		list-style-type: none;
		background: #fff;
		border: 1px solid #ddd;
		padding: 0;
		margin: .3em 0 0 0;

		li {
			&:first-child {
				a {
					@include border-radius(3px 3px 0 0);
				}
			}
			&:last-child {
				a {
					@include border-radius(0 0 3px 3px);
				}
			}
		}

		a {
			display: block;
			color: #646464;
			text-decoration: none;
			padding: .5em 1em;

			&:hover {
				color: #fff;
				background: #646464;
			}
		}
	}
}
