/*	=CALENDAR
--------------------------------------------------------------------*/
.calendar {
	position: relative;
}

.clndr {
	
}

.clndr-controls {
	margin-top: 1.5em;
}

.clndr-nav {
	position: relative;
	margin-bottom: 1em;
	padding-top: .25em;

	.month {
		text-align: center;
	}

}

.clndr-controls__nav {
	@include font-size($h2-size, false);
	@include border-radius(2em);
	position: absolute;
	top: 0;
	display: block;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	color: #505776;
	border: 2px solid #505776;

	&:hover {

		border-color:  darken($accent-tertiary, 10%);
	}

}

.clndr-previous-button {
	left: 0;
}

.clndr-next-button {
	right: 0;
}


.clndr-filters {
	@extend .group;
	margin-bottom: 1em;
}

.clndr-contols__filter {
	float: left;
	width: 49%;
	margin-right: 1%;

	&:last-of-type {
		margin: 0 0 0 1%;
	}
}

.clndr-grid {
	
}

.clndr-header {
	overflow: hidden;
	border-bottom: 1px solid #F1F1F1;
}

.header-day {
	@extend .alrightsansregular;
	width: 14.2857%;
	float: left;
	padding: 1%;

	@include breakpoint(viewport-s) {
		padding: 0;
		text-align: center;
	}
}

.header-day__sm {
	display: none;

	@include breakpoint(viewport-s) {
		display: block;
	}
}

.header-day__md {
	display: none; 



	@include breakpoint(viewport-m) {
		display: block;
	}

	@include breakpoint(viewport-s) {
		display: none;
	}
}

.header-day__lg {
	display: block;

	@include breakpoint(viewport-m) {
		display: none;
	}
}

.days {
	@extend .group;
	border: solid #E9E9E9;
	border-width: 0 0 0 1px;

	@include breakpoint(viewport-s) {
		border-width: 0;
	}
}

.day {
	width: 14.2857%;
	height: 6.75em;
	float: left;
	padding: 1%;
	border: solid #E9E9E9;
	border-width: 0 1px 1px 0;

	@include breakpoint(viewport-s) {
		height: 3em;
		text-align: center;
		border-width: 0 0 1px 0;
	}
}

.day-label {
	display: block;
	@extend .alrightsansregular;
}

.today {
	background: #F7F7F7;
	
	.day-label {
		color: $accent-tertiary;
	}

}

.last-month,
.next-month {
	
	color: #D4D4D4;
	background: #F9F9F9;

	.day-label {
		@extend .alrightsanslight;
	}
}

.event-listing {
	display: none;

	@include breakpoint(viewport-l) {
		display: block;
	}
}

// Calendar event placed on the calendar grid
.calendar-event {
	@include border-radius(5px);
	min-width: 8px;
	min-height: 8px;
	margin-bottom: .125em;
	padding: 0 5%;
	color: #fff;
	text-align: center;
	line-height: 1.25;
	background: #5A9BA0;
	cursor: pointer;
	

	@include breakpoint(viewport-s) {
		display: inline-block;
	}

}

.calendar-event--short {
    display: inline-block !important;
    margin-right: 1px;
}

// .calendar-event__full-details {
// 	display: none;
// }


// Not sure where these have come from, need to investigate
.event-item {
	display: none;
}



.calendar-event__short-title {
	display: none;
	@include font-size($nano-size, false);

	@include breakpoint(viewport-m) {
		display: inline-block;

	}

	@include breakpoint(viewport-s) {
		display: none;
	}

}

.calendar-event__title {

	@include font-size($micro-size, false);

	@include breakpoint(viewport-m) {
		display: none;
	}
}

