/*	=EVENT STYLES
--------------------------------------------------------------------*/

.event__hero {
	padding: 9em 0 2em;
	color: #fff;
	background: $accent-primary;

	@include breakpoint(viewport-s) {
		padding: 5em 0 2em;
	}

}

.event__title,
.event__strapline {
	max-width: 20em;
	color: #fff;
}

.event__title {
	@extend .tera;

	@include breakpoint(viewport-s) {
		@include font-size(1.6);
	}

}

.event__strapline {
	@extend .alpha;
	max-width: 26em;
	font-family: "MetronicProAir", sans-serif;
	font-weight: 400;

	@include breakpoint(viewport-s) {
		@include font-size(1.2);
	}

}

.event__time {
	@include font-size(1.4);
	line-height: 2;
	float: right;

	@include breakpoint(viewport-s) {
		@include font-size(1.2);
		display: block;
		float: none;
	}
}

.event__body {
	padding-top: 1em;
}

.tab-pane__primary {
	max-width: 50%;

	@include breakpoint(viewport-s) {
		max-width: 100%;
	}

}

.tab-pane__secondary {
	float: right;
	width: 40%;
	padding-left: 3em;
	border: solid #ddd;
	border-width: 0 0 0 1px;

	@include breakpoint(viewport-s) {
		float: none;
		width: 100%;
		padding: 0 0 2em 0;
		margin-bottom: 2em;
		border-width: 0 0 1px 0;
	}

}
