/*	=LOADING
--------------------------------------------------------------------*/

.loading__item {
	position: relative;
}

.loading-item__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,.95);
	border: 1px solid #ddd;

	.hide {
		display: none;
	}
}

.loading-item__feedback {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -77px;
	margin-top: -37px;
	text-align: center;

	h3 {
		color: $accent-primary;
	}

	@include breakpoint(viewport-s) {
		top: 5%;	
	}

}