/*	=PLACE YOUR TEMPORARY STYLES BELOW HERE
------------------------------------------------------------*/
.btn.twitter {
    background-color: #55acee;
}
.btn.facebook {
    background-color: #3b5998;
}
.btn.linkedin {
    background-color: #0976b4;
}
.btn.google {
    background-color: #e0393e;
}