@{
    Layout = "Shared/_HeroLayout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Infrastructure.Models.ErrorPageViewModel>

<h2>
    @Model.Title
</h2>
<h4>We have been notified of the error.</h4>
<p>Error: @Model.Summary</p>
@if (!string.IsNullOrEmpty(Model.Details))
{

    <h4>Details:</h4>
    <pre>
        @Model.Details
    </pre>
}