
<div class="notification notification--info notification--global" id="beta-banner" ng-if="beta">
    <div class="layout-constrained">
        <span class="notification__title">Welcome to the beta, we may have hidden a few bugs! Found one? <a href="#" ng-click="showFeedbackPanel()">Let us know</a></span>

		<div class="feedback-panel" style="display: none;">
            <a href="#" class="modal__close icn-m icn_close" ng-click="hideFeedbackPanel()"><span class="icn__content">Close</span></a>
			<h2>Congratulations, you found one!</h2>
            <p>Sometimes things go wrong, that's why we've tried to make it as easy as possible for you to tell us about it.</p>
            <div id="raise-on-trello">
                <a href="https://trello.com/c/zokl9MEa/2-new-issues" target="_blank" id="authorize-trello" class="btn btn--primary">Raise the issue on Trello</a>
                <span class="sub-info">Not got a Trello account? <a ng-click="showSlackForm()">Contact us directly</a>.</span>
            </div>
            <div id="raise-on-slack" class="layout-stacked" style="display: none;">
                <div class="form-group">
                    <label for="raise-on-slack-name">
                        Name
                    </label>
                    <input type="text" placeholder="Joe Bloggs" data-ng-model="reportedIssue.name" class="input-full field" id="raise-on-slack-name">
                </div>
                <div class="form-group">
                    <label for="raise-on-slack-contact">
                        Contact
                    </label>
                    <input type="text" placeholder="Email or @Twitter" data-ng-model="reportedIssue.contact" class="input-full field" id="raise-on-slack-contact">
                </div>
                <div class="form-group">
                    <label for="raise-on-slack-details">
                        Details
                    </label>
                    <textarea id="raise-on-slack-details" class="input-full field" data-ng-model="reportedIssue.details" placeholder="Tell us about the issue."></textarea>
                </div>
                <ul id="js-slack-feedback"></ul>
                <input type="submit" value="Submit" class="btn btn--primary btn--full" ng-click="raiseOnSlack(reportedIssue)">
                <span class="sub-info">Alternatively, you can <a ng-click="showTrelloForm()">raise a Trello card</a>.</span>
            </div>

		</div>

    </div>  
   
</div>

<section ng-if="activeEvent" class="modal">
    <a href="#" class="modal__close icn-m icn_close" ng-click="closeEvent()"><span class="icn__content">Close</span></a>

    <article class="event">
        <header class="event__hero" style="background: {{activeEvent.colour}};">
            <div class="layout-constrained">
                <span class="event__time" ng-bind-html="activeEvent.startFormat"></span>
                <h1 class="event__title">{{ activeEvent.organiser }}</h1>
                <h2 class="event__strapline">{{ activeEvent.title }}</h2>
            </div>
        </header>

        <div class="event__body">
            <div class="layout-constrained">

                <nav class="nav-tabs">
                    <ul class="tab-list">
                        <li class="tab-list__item tab-list__item--current"><a for="#tab-event" class="tab-list__link">This Event</a></li>
                        <li class="tab-list__item" ng-show="{{activeEvent.about.length > 0}}">
                            <a for="#tab-about" class="tab-list__link">
                                About
                                <span class="tab-list__link__short-title">{{activeEvent.organiser}}</span>
                                <span class="tab-list__link__title">{{activeEvent.organiserShortName}}</span>
                            </a>
                        </li>
                        <!--li class="tab-list__item" ng-show="{{activeEvent.pastEvents}}"><a href="#" class="tab-list__link">Past Events</a></li-->
                    </ul>
                </nav>
                <div class="tab-panes">
                    <div id="tab-event" class="tab-pane tab-pane--current">
                        <aside class="tab-pane__secondary">
                            <h3>Where</h3>
                            <p class="calendar-event__location">{{ activeEvent.location }}</p>
                            <h3>Contact</h3>
                            <a href="{{ activeEvent.website }}" class="calendar-event__website" targe
                               t="_blapnk">{{ activeEvent.website }}</a>
                        </aside>

                        <div class="tab-pane__primary">
                            {{activeEvent.synopsis}}

                            <div id="event-talks" ng-if="activeEvent.talks">
                                <h3>Speakers</h3>
                                <div class="event-talk" ng-repeat="talk in activeEvent.talks">
                                    <h4 ng-if="talk.speakerLink">
                                        <a href="{{talk.speakerLink}}" target="_blank" title="{{talk.speaker}}">{{talk.speaker}}</a>
                                    </h4>
                                    <h4 ng-if="!talk.speakerLink">
                                        {{talk.speaker}}
                                    </h4>
                                    <h5 ng-if="talk.title">
                                        {{talk.title}}
                                    </h5>
                                    <p ng-if="talk.synopsis">
                                        {{talk.synopsis}}
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="tab-about" class="tab-pane" ng-show="{{activeEvent.about.length > 0}}">
                        <div class="tab-pane__primary">
                            <h3>{{ activeEvent.headline }}</h3>
                            <p>
                                {{activeEvent.about}}
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </article>
</section>

<div class="page-content">
	
	<header class="site-header">
	<div class="layout-constrained">
		
		<div class="site-header__contact inline-items">
			<a href="http://www.twitter.com/yorksdigital" class="inline-items__item">@YorksDigital</a>
			<a href="mailto:info@yorkshiredigital.com" class="inline-items__item">info@yorkshiredigital.com</a>
		</div>
		
		<div class="logo-site">
		</div>
		
	</div>
	</header>

	<section class="hero">
	<div class="layout-constrained">
		<h1 class="hero__title">Bringing Yorkshire's Digital Community Together</h1>
		<p class="hero__intro">
		A hub for Yorkshire’s digital community, to see whats going on, find new connections and share knowledge.
		</p>
	</div>
	</section>

    <section class="layout-constrained">

        <tien-clndr class="calendar" tien-clndr-object="clndr" tien-clndr-events="events">
            <div class="section-intro">
                <h2>Hey, there's {{ (events | clndrCurrentMonthFilter:clndr).length }} events this month throughout Yorkshire!</h2>
                <p>
                    See all the upcoming events below, please <a href="mailto:info@yorkshiredigital.com">let us know</a> if you run or know events that are not listed.
                </p>
            </div>
            <div class="clndr-controls">
                <div class="clndr-nav">
                    <div class="clndr-previous-button clndr-controls__nav" ng-click="clndrPreviousMonth()">&lsaquo;</div>
                    <h2 class="month">
                        {{ month }} <span class="viewport-s--hidden">Events</span>
                    </h2>
                    <div class="clndr-next-button clndr-controls__nav" ng-click="clndrNextMonth()">&rsaquo;</div>
                    <!--<div class="clndr-today-button">Today</div>-->
                </div>

                <div class="clndr-filters">
                    <label class="is-offscreen" for="interestFilter">Filter by interest</label>
                    <div class="clndr-contols__filter select-custom">
                        <select ng-model="search.interests" ng-options="interest for interest in interests">
                            <option value="" selected>All interests</option>
                        </select>
                    </div>
                    <label class="is-offscreen" for="locationFilter">Filter by location</label>
                    <div class="clndr-contols__filter select-custom">
                        <select ng-model="search.location" ng-options="location for location in locations">
                            <option value="" selected>All locations</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clndr-grid">
                <div class="days-of-the-week">
                    <header class="clndr-header">
                        <div class="header-day" ng-repeat="dayOfTheWeek in daysOfTheWeek track by $index">
                            <span ng-bind-html="to_trusted(dayOfTheWeek)"></span>
                        </div>
                    </header>
                    <div class="days">
                        <div class="{{ day.classes }}" ng-class="{day__many: (day.events | calendarFilter:search).length > 3}" ng-repeat="day in days">
                        	
                        	<div class="day-label">
                        		<span class="day-label__name">{{ formatDay(day.date, 'ddd') }}</span>
                            	<span class="day-label__number">{{day.day}}</span>
                        	</div><!--
                            
                            --><div class="events-list">
	                            <div class="calendar-event" ng-class="{event__long: event.title.length > 11}" style="background: {{ event.colour }}" ng-repeat="event in day.events | calendarFilter:search" data-id="{{ event.uniqueName }}" ng-click="loadEvent(event.uniqueName)">
	                                <span class="calendar-event__short-title">{{ event.shortTitle }}</span>
	                                <span class="calendar-event__title">{{ event.title }}</span>
	                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </tien-clndr>
        <div class="island island--horizontal-break">
            <div class="panel-one">
                <!-- Begin MailChimp Signup Form -->
                <form action="https://yorkshiredigital.us3.list-manage.com/subscribe/post?u=e91ce15c242d895864a05d39e&amp;id=2e2faa57fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate autocomplete="off">
                    <div id="mc_embed_signup">
                        <h3>Sign up to our newsletter</h3>
                        <div class="mc-field-group form-group">
                            <label for="mce-NAME" class="is-offscreen">
                                First name
                            </label>
                            <input type="text" placeholder="First name" value="" name="NAME" class="required input-full field" id="mce-NAME" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
                        </div>
                        <div class="mc-field-group form-group">
                            <label for="mce-EMAIL" class="is-offscreen">
                                Email address
                            </label>
                            <input type="email" placeholder="Email address" value="" name="EMAIL" class="required email input-full field" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response sub-label field-validation-error" id="mce-error-response" style="display:none"></div>
                            <div class="response" style="display:none"></div>
                        </div>
                        <!-- bot trap -->
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_e91ce15c242d895864a05d39e_2e2faa57fb" value="">
                        </div>
                        <div class="clear">
                            <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn--primary btn--full js-sign-up-btn">
                        </div>
                        <span class="sub-info">Don't worry, we hate spam as much as you</span>
                    </div>
                </form>
                <!--End mc_embed_signup-->
                <div id="mce-success-response" style="display: none;">
                    <div class="island">
                        <h3>Help us spread the word</h3>
                        <p>Let people know about YorkshireDigital and help us to grow the community.</p>
                        <div class="form-group">
                            <button class="btn btn--full btn--primary" id="copy-link">Copy link</button>
                        </div>
                        <div class="form-group is-hidden" id="copy-input">
                            <input type="text" value="http://www.yorkshiredigital.com/" onclick="this.setSelectionRange(0, this.value.length)" class="input-full field" />
                        </div>
                    </div>
                    <div class="island">
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                            <a class="addthis_button_preferred_1"></a>
                            <a class="addthis_button_preferred_2"></a>
                            <a class="addthis_button_preferred_3"></a>
                            <a class="addthis_button_compact"></a>
                        </div>
                        <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5355881f634ab83a"></script>
                        <!-- AddThis Button END -->
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#copy-link').click(function () {
                                $(this).closest('.form-group').addClass('is-hidden');
                                $('#copy-input').removeClass('is-hidden');
                                $('#copy-input').click();

                                $('#copy-input input').get(0).setSelectionRange(0, $('#copy-input input').val().length);
                            });
                        });
                    </script>
                </div>
            </div>
            
            <div class="panel-two">
			
				<h3>Know an event we've not got?</h3>
        		<p>
	                If you run or know of any meetups/events in Yorkshire we have not listed, please <a href="mailto:info@yorkshiredigital.com">let us know</a>.
	            </p>

			</div>

        </div>

		

    </section>
	<footer class="site-footer" role="contentinfo">
	    <small>© 2014 YorkshireDigital</small>
	    <small>Hosted by <a href="http://www.brightbox.com" target="_blank">Brightbox</a> in Yorkshire</small>
	</footer>

</div>

<script type="text/javascript">
    $(document).on('click', '.tab-list__link', function (e) {
        e.preventDefault();
        $(this).parents('.tab-list__item').siblings().removeClass('tab-list__item--current')
        $(this).parents('.tab-list__item').addClass('tab-list__item--current')

        var $tab = $($(this).attr('for'));
        $tab.siblings().removeClass('tab-pane--current');
        $tab.addClass('tab-pane--current');
    });
</script>