
<div class="notification notification--info notification--global" id="beta-banner" ng-if="beta">
    <div class="layout-constrained">
        <span class="notification__title">Welcome to the beta, we may have hidden a few bugs! Found one? <a class="js-modalInput" mac-modal="raise-issue">Let us know</a></span>

		<div class="feedback-panel">
			
			<h2>Congratulations, you found one!</h2>
            <p>Sometimes things go wrong, that's why we've tried to make it as easy as possible for you to tell us about it.</p>
            <div id="raise-on-trello">
                <a href="https://trello.com/c/zokl9MEa/2-new-issues" target="_blank" id="authorize-trello" class="btn btn--primary">Raise the issue on Trello</a>
                <span class="sub-info">Not got a Trello account? <a ng-click="showSlackForm()">Contact us directly</a>.</span>
            </div>
            <div id="raise-on-slack" class="layout-stacked" style="display: none;">
                <div class="form-group">
                    <label for="raise-on-slack-name">
                        Name
                    </label>
                    <input type="text" placeholder="Joe Bloggs" data-ng-model="reportedIssue.name" class="input-full field" id="raise-on-slack-name">
                </div>
                <div class="form-group">
                    <label for="raise-on-slack-contact">
                        Contact
                    </label>
                    <input type="text" placeholder="Email or @Twitter" data-ng-model="reportedIssue.contact" class="input-full field" id="raise-on-slack-contact">
                </div>
                <div class="form-group">
                    <label for="raise-on-slack-details">
                        Details
                    </label>
                    <textarea id="raise-on-slack-details" class="input-full field" data-ng-model="reportedIssue.details" placeholder="Tell us about the issue."></textarea>
                </div>
                <ul id="js-slack-feedback"></ul>
                <input type="submit" value="Submit" class="btn btn--primary btn--full" ng-click="raiseOnSlack(reportedIssue)">
                <span class="sub-info">Alternatively, you can <a ng-click="showTrelloForm()">raise a Trello card</a>.</span>
            </div>

		</div>


    </div>
   
       
            
        
   
</div>

<section ng-if="activeEvent" class="modal">
    <a href="#" class="modal__close icn-m icn_close" ng-click="closeEvent()"><span class="icn__content">Close</span></a>

    <article class="event">
        <header class="event__hero" style="background: {{activeEvent.colour}};">
            <div class="layout-constrained">
                <span class="event__time" ng-bind-html="activeEvent.startFormat"></span>
                <h1 class="event__title">{{ activeEvent.organiser }}</h1>
                <h2 class="event__strapline">{{ activeEvent.title }}</h2>
            </div>
        </header>

        <div class="event__body">
            <div class="layout-constrained">

                <nav class="nav-tabs">
                    <ul class="tab-list">
                        <li class="tab-list__item tab-list__item--current"><a for="#tab-event" class="tab-list__link">This Event</a></li>
                        <li class="tab-list__item" ng-show="{{activeEvent.about.length > 0}}"><a for="#tab-about" class="tab-list__link">About {{activeEvent.organiser}}</a></li>
                        <!--li class="tab-list__item" ng-show="{{activeEvent.pastEvents}}"><a href="#" class="tab-list__link">Past Events</a></li-->
                    </ul>
                </nav>
                <div class="tab-panes">
                    <div id="tab-event" class="tab-pane tab-pane--current">
                        <aside class="tab-pane__secondary">
                            <h3>Where</h3>
                            <p class="calendar-event__location">{{ activeEvent.location }}</p>
                            <h3>Contact</h3>
                            <a href="{{ activeEvent.website }}" class="calendar-event__website" target="_blapnk">{{ activeEvent.website }}</a>
                        </aside>

                        <div class="tab-pane__primary">
                            {{activeEvent.synopsis}}

                            <div id="event-talks" ng-if="activeEvent.talks">
                                <h3>Speakers</h3>
                                <div class="event-talk" ng-repeat="talk in activeEvent.talks">
                                    <h4 ng-if="talk.speakerLink">
                                        <a href="{{talk.speakerLink}}" target="_blank" title="{{talk.speaker}}">{{talk.speaker}}</a>
                                    </h4>
                                    <h4 ng-if="!talk.speakerLink">
                                        {{talk.speaker}}
                                    </h4>
                                    <h5 ng-if="talk.title">
                                        {{talk.title}}
                                    </h5>
                                    <p ng-if="talk.synopsis">
                                        {{talk.synopsis}}
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="tab-about" class="tab-pane" ng-show="{{activeEvent.about.length > 0}}">
                        <div class="tab-pane__primary">
                            <h3>{{ activeEvent.headline }}</h3>
                            <p>
                                {{activeEvent.about}}
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </article>
</section>

<div class="page-content">
	
	<header class="site-header">
	<div class="layout-constrained">
		
		<div class="site-header__contact inline-items">
			<a href="http://www.twitter.com/yorksdigital" class="inline-items__item">@YorksDigital</a>
			<a href="mailto:info@yorkshiredigital.com" class="inline-items__item">info@yorkshiredigital.com</a>
		</div>
		
		<div class="logo-site">
		</div>
		
	</div>
	</header>

	<section class="hero">
	<div class="layout-constrained">
		<h1 class="hero__title">Bringing Yorkshire's Digital Community Together</h1>
		<p class="hero__intro">
		A hub for Yorkshire’s digital community, to see whats going on, find new connections and share knowledge.
		</p>
	</div>
	</section>

    <section class="layout-constrained">

        <tien-clndr class="calendar" tien-clndr-object="clndr" tien-clndr-events="events">
            <div class="section-intro">
                <h2>Hey, there's {{ (events | clndrCurrentMonthFilter:clndr).length }} events this month throughout Yorkshire!</h2>
                <p>
                    See all the upcoming events below, please <a href="mailto:info@yorkshiredigital.com">let us know</a> if you run or know events that are not listed.
                </p>
            </div>
            <div class="clndr-controls">
                <div class="clndr-nav">
                    <div class="clndr-previous-button clndr-controls__nav" ng-click="clndrPreviousMonth()">&lsaquo;</div>
                    <h2 class="month">
                        {{ month }} <span class="viewport-s--hidden">Events</span>
                    </h2>
                    <div class="clndr-next-button clndr-controls__nav" ng-click="clndrNextMonth()">&rsaquo;</div>
                    <!--<div class="clndr-today-button">Today</div>-->
                </div>

                <div class="clndr-filters">
                    <label class="is-offscreen" for="interestFilter">Filter by interest</label>
                    <div class="clndr-contols__filter select-custom">
                        <select ng-model="search.interests" ng-options="interest for interest in interests">
                            <option value="" selected>All interests</option>
                        </select>
                    </div>
                    <label class="is-offscreen" for="locationFilter">Filter by location</label>
                    <div class="clndr-contols__filter select-custom">
                        <select ng-model="search.location" ng-options="location for location in locations">
                            <option value="" selected>All locations</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clndr-grid">
                <div class="days-of-the-week">
                    <header class="clndr-header">
                        <div class="header-day" ng-repeat="dayOfTheWeek in daysOfTheWeek track by $index">
                            <span ng-bind-html="to_trusted(dayOfTheWeek)"></span>
                        </div>
                    </header>
                    <div class="days">
                        <div class="{{ day.classes }}" ng-class="{day__many: (day.events | calendarFilter:search).length > 3}" ng-repeat="day in days">
                        	
                        	<div class="day-label">
                        		<span class="day-label__name">{{ formatDay(day.date, 'ddd') }}</span>
                            	<span class="day-label__number">{{day.day}}</span>
                        	</div><!--
                            
                            --><div class="events-list">
	                            <div class="calendar-event" ng-class="{event__long: event.title.length > 11}" style="background: {{ event.colour }}" ng-repeat="event in day.events | calendarFilter:search" data-id="{{ event.uniqueName }}" ng-click="loadEvent(event.uniqueName)">
	                                <span class="calendar-event__short-title">{{ event.shortTitle }}</span>
	                                <span class="calendar-event__title">{{ event.title }}</span>
	                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </tien-clndr>
        <div class="island island--horizontal-break">
            <p>
                Do you run or know of any meetups/events in Yorkshire we have not listed? <a href="mailto:info@yorkshiredigital.com">let us know</a>.
            </p>
        </div>
    </section>
	<footer class="site-footer" role="contentinfo">
	    <small>© 2014 YorkshireDigital</small>
	    <small>Hosted by <a href="http://www.brightbox.com" target="_blank">Brightbox</a> in Yorkshire</small>
	</footer>

</div>

<script type="text/javascript">
    $(document).on('click', '.tab-list__link', function (e) {
        e.preventDefault();
        $(this).parents('.tab-list__item').siblings().removeClass('tab-list__item--current')
        $(this).parents('.tab-list__item').addClass('tab-list__item--current')

        var $tab = $($(this).attr('for'));
        $tab.siblings().removeClass('tab-pane--current');
        $tab.addClass('tab-pane--current');
    });
</script>