@{
    Layout = "Shared/_Layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<div class="page-content">

    <header class="site-header">
        <div class="layout-constrained">

            <div class="site-header__contact inline-items">
                <a href="http://www.twitter.com/yorksdigital" class="inline-items__item">&commat;YorksDigital</a>
                <a href="mailto:info@yorkshiredigital.com" class="inline-items__item">info@yorkshiredigital.com</a>
            </div>

            <a class="logo-site" href="~/" title="YorkshireDigital" rel="home">
            </a>

        </div>
    </header>
    
    @RenderSection("Hero", false)

    <section class="layout-constrained">
        @RenderBody()
    </section>

    <footer class="site-footer" role="contentinfo">
        <small>© 2014 YorkshireDigital</small>
        <small>Hosted by <a href="http://www.brightbox.com" target="_blank">Brightbox</a> in Yorkshire</small>
    </footer>

</div>

@section Scripts
{
    @RenderSection("Scripts", false)    
}